body{
	width:100vw;
}

.page {
	position:absolute;
	top:0px;
	left:0px;
	width:100vw;
	height:100vh;
}

#inputPage{
	font-family: "Lucida Console", Monaco, monospace; 
	color: #444;   
	-webkit-font-smoothing: antialiased;
	background: #f0f0f0;
	z-index:500;
}

#workPage{
	z-index:1;
	white-space:pre;
	background-color:white;
}

#input_container {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	background: #fff;
    border-radius:1em;
    border: 1px solid #ccc;
    box-shadow: 0 0 3em rgba(0, 0, 0, .2);
}

#input_inside{
	margin-left:.5em;
	padding-left:.5em;
	margin-right:.5em;
	padding-right:.5em;
	margin-top:.5em;
	padding-top:.5em;
	margin-bottom:.5em;
	padding-bottom:.5em;
}

#input_dropArea{
	margin-left:.10em;
	padding-left:1em;
	margin-right:.10em;
	padding-right:1em;
	margin-top:.5em;
	padding-top:.5em;
	margin-bottom:.15em;
	padding-bottom:1em;
	border-style:dashed;
	border-width:.25em;
	border-color:#999999;
	-webkit-transition: border-color 0.5s, background-color 0.5s, border-radius 0.5s, -webkit-transform 0.5s;
    transition: border-color 0.5s, background-color 0.5s, border-radius 0.5s, transform 0.5s;
	border-radius:1em;
}

#input_dropArea:hover{
	border-color:#d6d6d6;
	background-color:#ddffd8;
	border-radius:2em;
}

#inButton{
	text-align:center;
}

#hiddenContent{
	display:none;
}

p.cdat{
	margin:0 auto;
	padding:0;
}